/* .form-switch .form-check-label {
    margin-left: 5px;
    vertical-align: bottom !IMPORTANT;
}

.form-group label, label {
    font-size: 15px;
    color: #0e1726;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 0 !IMPORTANT;
}

.form-switch .form-check-label {
    margin-left: 5px !IMPORTANT;
    vertical-align: bottom;
}

.form-check .form-check-input {
    margin-left: -2.4em;
} */